
.fade-transition {
  transition: all .3s ease;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fade-enter, .fade-leave {
  opacity: 0.1;
}
