.navbar-toggler:focus {
	border: none;
	outline: none;
}

#side-menu {
  position: fixed;
  left: -$side-menu-width;
  top: 54px;
  height: 100%;
  width: $side-menu-width;
  background-color: #333;
  transition:left 0.2s linear;

	button {
		font-size: 2rem;
    transform: rotateZ(-90deg);
		transition: transform 1s;
		margin-top: 50%;
		&:hover {
			transform: rotateZ(0deg);
		}
	}

	#nav-footer {
		position: absolute;
		bottom: 65px;
		color: #fff;
	}

  > ul {
    .nav-item {
      border-bottom: 1px solid #424242;

      &:first-child {
        border-top: 1px solid #424242;
      }

      .nav-item-link {
        display: block;
        color: #6C7B83;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        padding: $side-menu-padding-left/2 $side-menu-padding-left;

        &:hover {
          text-decoration: none;
          color: #fff;
        }

        &:focus {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}

.side-menu-open {
  #side-menu {
    left: 0;
  }

  .movie-list {
    padding-left: $side-menu-width;
  }
}
