$body-bg: #333;
$navbar-bg: brown;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               transparent !default;
$btn-secondary-border:           transparent !default;

$side-menu-width: 250px;
$side-menu-padding-left: 25px;
$enable-flex: true !default;
$popover-max-width: 350px !default;
$navbar-border-radius: 0px !default;
