$font-family-sans-serif: Lato, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$brand-primary:             brown;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$brand-background:          #333;
$brand-accent:  #2c3e50;

$body-bg: $brand-background;
$navbar-bg: $brand-primary;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               $brand-accent !default;
$btn-secondary-border:           darken($btn-secondary-bg, 3%) !default;

$side-menu-width: 250px;
$side-menu-padding-left: 25px;
$enable-flex: true !default;
$popover-max-width: 350px !default;
$navbar-border-radius: 0px !default;

$popover-bg:                          $brand-accent !default;
$popover-title-bg:                    darken($popover-bg, 3%) !default;
